<!DOCTYPE html>
<html>
<head>
    <title>E-Voting System</title>
    <style>
        body { font-family: Arial; background:#f4f6f8; }
        .box {
            width:400px;
            margin:120px auto;
            background:white;
            padding:25px;
            border-radius:8px;
            text-align:center;
        }
        a {
            display:block;
            margin:15px;
            padding:12px;
            background:#0d6efd;
            color:white;
            text-decoration:none;
            border-radius:6px;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>Blockchain E-Voting System</h2>
    {% if show_result_error %}
    <p style="color:rgb(255, 0, 0); font-weight:bold;">
    Results available only after election ends
    </p>
    {% endif %}


    <a href="/admin-panel/">Admin Panel</a>
    <a href="/vote/">Cast Vote</a>
    <a href="/results/">View Results</a>
</div>

</body>
</html>
